body {


text-align: center;

}
 h1 {
     text-align: center;
     font-size: 30px;
    color: #E2E80F;
 }
 P {
     color: #eeeeee;
     text-decoration-line: underline;
     font-size: 30px;
 }
 .credits{
     text-decoration: underline;
     color: 49DAFF;

 }
 .film{
     font-size: 25;
     font-style: italic;
 }