.dic{
    height: 200px;
    width: 300px;
    position: relative;
    top: 300px;
    left:500px;
    font-size: 50px;
}
.h2{
   display :flex ;
   justify-content: center ;
   align-items: center;
   position: relative;
   top: 200px;
   left: -80px;
}