* {
    box-sizing: border-box; 
    font-size: 0px;
}
body {
    width: 1000px;
    height: 100%;
    /* border: solid black; */
    position: relative
}

/* {
    background: white;
} */

/* France flag */
.france {
    width: 300px;
    height: 200px;
    display: inline-block;
    position: relative;
    left: 5px;
    /* border : solid rgb(92, 89, 89) */
}
.blue-france {
    background-color: blue;
    height: inherit;
    width: 100px;
    display: inline-block;
}
.white-france {
    background-color: white;
    height: inherit;
    width: 100px;
    display: inline-block;
    /* border: solid black; */
}
.red-france {
    background-color: red;
    height: inherit;
    width: 100px;
    display: inline-block
}

/* Germany flag */
.germany {
    height: 200px;
    width: 300px;
    display: inline-block;
    position: relative;
    left: 10px;
}
.black-germ {
    height: 33.33%;
    width: inherit;
    background-color: black;
    display: block;
}
.red-germ {
    height: 33.33%;
    width: inherit;
    background-color: red;
    display: block;
}
.yellow-germ {
    height: 33.33%;
    width: inherit;
    background-color:yellow;
    display: block;
}

/* Madagascar flag */
.madagascar {
    height: 200px;
    width: 300px;
    display: inline-block;
    position: relative;
    left: 20px;
    border: solid black  1px;
}
.white-madag {
    height: inherit;
    width: 99px;
    background-color: white;
    display: inline-block;
}
.red-green {
    display: inline-block;
}
.red-madag {
    height: 100px;
    width: 199px;
    background-color: red;
    display: block;
}
.green-madag {
    height: 100px;
    width: 199px;
    background-color:green;
    display: block;
}

.Switzerland{
    height: 200px;
    width: 300px;
    background-color: red;
    position: relative;
    margin: 5px;
    display: inline-block;
}

.vertical-cross{
   background-color: seashell;
   height: 35px;
   width: 100px;
   position: relative;
   left: 30%;
   top: 45%
}

.horizontal-cross{
    background-color: seashell;
    height: 100px;
    width: 35px;
    position: relative;
    left:40%;
    bottom: -10%;
}

.Sweden{
    height: 200px;
    width: 100px;
    position: relative;
    background-color: rgb(83, 83, 231);
    display: inline-block;

.Sweden-vertical-cross{
    height: 20px;
    width: 100px;

}

.Sweden-horizontal-cross{

}

height: 300px;
width: 500px;
position: relative;
background-color: rgb(83, 83, 231);
display: inline-block;






